[config]
default_to_workspace = false

[tasks.set-env]
env_files = [".env"]

# ============ BUILD TASKS ============
[tasks.build-tools]
extend = "set-env"
description = "Build the project."
script = ["cargo build --release"]

# ============ LINT TASKS ============
[tasks.format-all]
dependencies = ["sort-cargo-toml", "clippy", "reformat"]
description = "Format all code in the project."

[tasks.sort-cargo-toml]
description = "Sort the Cargo.toml files in the project."
install_crate = "taplo-cli"
script = "taplo fmt --option reorder_keys=true"

[tasks.reformat]
description = "Reformat the code using rustfmt."
script = "cargo fmt -- --emit files"

# ============ TEST TASKS ============
[tasks.nextest-run]
extend = "set-env"
dependencies = ["build-tools"]
description = "Run all tests in the project."
install_crate = "cargo-nextest"
script = '''
#!/bin/bash
cargo nextest run --workspace --status-level all --test-threads=1 ${@}
'''

[tasks.doctest]
dependencies = ["build-tools"]
description = "Run doctests in the project."
script = '''
#!/bin/bash
cargo test --doc
'''
